.about-page-container {
  padding-left: 250px; 
  background-color: #f7f7ff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.bio-section {
  display: flex;
  

  align-items: flex-start; 
  
  justify-content: center;
  min-height: 100vh;
  padding: 50px 50px 0 50px; 
  gap: 50px;
}

.bio-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.image-wrapper {
  position: relative;
  
 
  width: 42vw; 
  height: 42vw;
  
  
  min-width: 450px; 
  min-height: 450px;
  max-width: 800px;
  max-height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 50px; 
}


.profile-img {
  width: 120%;   
  height: 120%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  position: relative;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

.social-icons-curve {
  position: absolute;
  bottom: -40px; /* Adjusted for bigger image */
  display: flex;
  gap: 20px;
  z-index: 5;
  background: #fff;
  padding: 20px 40px; 
  border-radius: 60px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15); 
}


.profile-name-box {
  text-align: center;
  margin-top: 120px;
}


.profile-name-box h5 {
  color: #777;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.profile-name-box h2 {
  font-size: 90px;
  font-weight: 800;
  color: #0b0b13;
  line-height: 1.1;
}


.bio-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  
  
  margin-top: 0; 
  padding-top: 20px; 
}

.section-title {
  font-size: 80px;
  font-weight: 700;
  color: #0b0b13;   
  margin-bottom: 40px;
  margin-right: 40px;
  position: relative;
}

/* Paragraphs */
.bio-text p {
  color: #555;
  font-size: 50px; 
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 30px; 
  max-width: 100%; 
}

.details-grid {
  display: flex;
  margin-top: 80px;
  gap: 100px; 
}

.detail-col p {
  margin-bottom: 15px;
  color: #555;
  font-size: 50px;
}

.detail-col strong {
  color: #0b0b13;
  margin-right: 10px;
  font-weight: 600;
}

/* --- MOBILE RESPONSIVE --- */
@media (max-width: 1100px) {
  .about-page-container { padding-left: 0; }
  
  .bio-section { 
    flex-direction: column; 
    text-align: center; 
    padding: 50px 20px;
    height: auto;
  }
  
  .image-wrapper { 
    width: 350px; 
    height: 350px; 
    min-width: auto;
  }
  
  .bio-text p { 
    margin: 0 auto 30px auto; 
    font-size: 18px;
  }
  
  .details-grid { 
    flex-direction: column; 
    gap: 20px; 
    align-items: center; 
  }
}