* {
  font-family: "Rubik", sans-serif;
}

.about-page-container {
  padding-left: 250px;
  background-color: #f7f7ff;
  overflow-y: auto;
  overflow-x: hidden;
}

.bio-section {
  display: flex;
  margin-top: 6%;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 50px 0 50px;
}

.bio-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  position: relative;
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.profile-img {
  border: 15px solid #ff9301;
  position: relative;
  top: 10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  position: relative;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.profile-name-box {
  position: absolute;
  top: 58%;
  text-align: center;
  margin-top: 120px;
}

.profile-name-box h5 {
  color: #0b0b13;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;

  line-height: 100px;
}

.profile-name-box h2 {
  font-size: clamp(60px, 6vw, 90px);
  font-weight: 600;
  color: #0b0b13;
  line-height: 100px;
}

.bio-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 0;
  right: 5%;
  bottom: 5%;
}

.section-title {
  font-size: 100px;
  font-weight: 800;
  color: #0b0b13;
  margin-top: 2%;
  margin-bottom: 40px;
  margin-right: 40px;
  position: relative;
}

.bio-text p {
  margin-right: 10%;
  color: #555;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 100%;
}

.details-grid {
  font-family: "Rubik";
  display: flex;
  margin-top: 80px;
  gap: 20%;
}

.detail-col p {
  margin-bottom: 15px;
  color: #555;
  font-size: 50px;
}

.detail-col strong {
  color: #0b0b13;
  margin-right: 10px;
  font-weight: 600;
}

.line-bio {
  position: relative;
  top: 90%;
  margin-left: 9%;
  width: 70%;
  height: 2px;
  color: #0b0b13;
  background-color: #0b0b13;
  position: absolute;
  margin-bottom: 10%;
}
