.cards-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}


/* Heading */
.cards-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

/* Single Card */
.card-box {
  width: 250px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s ease-in-out;
}

/* Hover effect */
.card-box:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
}

/* icon style */
.card-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: black;
}
