.cards-wrapper-about {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}


.cards-wrapper-about .section-title {
  font-size: 100px; 
  font-weight: 700;
  color: #0b0b13;
  margin-bottom: 60px; 
  position: relative;
  left: 400px;
  display: inline-block;
}

.cards-container-about {
  display: flex;
  position: relative;
  left: 450px;
  gap: 100px;
  flex-wrap: wrap;
}

.card-box-about {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  flex: 1;
  max-width: 1000px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 60px 40px 50px 40px; 
  transition: transform 0.3s ease;
  border: 1px solid #eee;
  cursor: pointer;
}


.card-box-about:hover {
  background-color: #ff9301; 
  transform: translateY(-10px); 
  border-color: #ff9301;
}


.card-box-about:hover h3 {
  color: #fff; 
}


.card-box-about:hover p {
  color: #fff;
}


.card-box-about:hover .card-icon-bg-about {
  background-color: #0b0b13; 
}


.card-box-about:hover .card-icon-symbol-about {
  color: #fff;
}


.card-icon-bg-about {
  position: absolute;
  top: -50px; 
  left: -50px;
  width: 500px;
  height: 300px;
  background-color: #ff9301;
  border-radius: 40%;
  transition: background-color 0.3s ease; 
}


.card-icon-symbol-about {
  position: absolute;
  bottom: 50px;
  right: 100px; 
  left: 200px;
  font-size: 100px; 
  color: #fff;
  z-index: 2;
  transition: color 0.3s ease;
}

.card-content-about {
  margin-top: 300px; 
}


.card-content-about h3 {
  font-size: 60px; 
  font-weight: 700;
  color: #0b0b13;
  margin-bottom: 50px; 
}

.card-box-about p {
  color: #555;
  font-size: 40px; 
  line-height: 1.6; 
}

/* Mobile Responsive */
@media (max-width: 900px) {
  .cards-container-about {
    flex-direction: column;
  }
  .card-box-about {
    width: 100%;
    margin-bottom: 20px;
  }
}