/* .card {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.card-image-container img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background: #eee;
}

.card-info-container {
  padding: 15px;
}

.card-info-container p:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #222;
}

.card-info-container p:last-child {
  font-size: 15px;
  color: #555;
  line-height: 1.4rem;
} */
