.card {
    width: 100%;
    height: 400px; 
    border-radius: 0; 
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    position: relative;
    left: 130px;
    

}

.card:hover {
    transform: translateY(-5px);
}

.card-image-container {
    width: 100%;
    height: 100%;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


.card-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    transform: translateY(100%); 
    transition: transform 0.3s ease;
}

.card:hover .card-info-container {
    transform: translateY(0); 
}