*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filtercontainer{
    display: flex;
    flex-direction: column;
    color: rgb(85, 85, 85);
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: flex-start;
     margin-bottom: 10px;
     flex-wrap: wrap;
     column-gap: 16px;
     font-size: 15px;
     font-weight: 400;
     line-height: 25.5px;
     row-gap: 16px;
    
}

.filter-button{
    
   

}