* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
}


.work-section {
 
    
    
    padding-left: 250px; 
    padding-top: 80px;
    padding-right: 50px;
    min-height: 100vh;
    background-color: #f7f7ff;
    font-family: 'Poppins', sans-serif;
    
}


.work-header {
    margin-bottom: 40px;
    margin-left: 40px;
    position: relative;
    left: 100px;
    top: 100px;
    margin-bottom: 100px;
}

.section-title {
    font-size: 80px;
    font-weight: 700;
    color: #0b0b13;
    position: relative;
    display: inline-block;
}


.section-title .dot {
    color: #0b0b13;
}


.section-title::before {
    content: '';
    position: absolute;
    left: -20px;
    top: -15px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 147, 1, 0.2);
    border-radius: 50%;
    z-index: -1;
}


.filter-menu {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    position: relative;
    left: 140px;
    
}

.filter-btn {
    background: transparent;
    border: none;
    font-size: 50px;
    font-weight: 500;
    color: #555; /* Default Grey */
    cursor: pointer;
    padding-bottom: 5px; 
    position: relative;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
}







.filter-btn.active-filter::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px; 
    background-color: #ff9301; 
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
}

/* Mobile Responsive */
@media (max-width: 900px) {
    .work-section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .filter-menu {
        gap: 15px;
        justify-content: center;
    }
}