* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "__Rubik_787838", "__Rubik_Fallback_787838";
}

.wrapper {
    max-width: 100%;
    margin-left: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;   
    background-color: #f7f7ff;
    overflow-y: auto;
}

.container {
    padding: 100px 5% 50px 5%;
    width: 100%;
    min-height: 100vh;
}

.container h1 {
    font-size: 100px; 
    font-weight: 800;
    color: #0b0b13;
    margin-bottom: 80px;
}

.btn {
    display: flex; 
    flex-wrap: wrap; 
    gap: 50px; 
    width: 100%;
    margin-bottom: 60px;
}

.btn-click {
    background: none;
    border: none;
    font-size: 40px; 
    font-weight: 600;
    color: #555;
    cursor: pointer;
    padding: 5px 0;
    transition: color 0.3s ease;
    position: relative;
}

.btn-click:hover {
    color: #ff6b35;
}

.btn-click.active {
    color: #ff6b35;
    position: relative;
}


.btn-click.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff6b35;
    animation: slideIn 0.3s ease;
}



.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px ;
    width: 100%;
    padding-bottom: 50px;
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
}





#image1 {
    grid-column: span 1; 
    grid-row: span 10;    
}

#image2 {
    grid-column: span 1;
    grid-row: span 8;    
}

#image3 {
    grid-column: span 1;
    grid-row: span 14;
}

#image4 {
    grid-column: span 1; 
    grid-row: span 8;
}

#image5 {
    grid-column: span 1;
    grid-row: span 10;  
}

#image6 {
    grid-column: span 1;
    grid-row: span 10;
}

#image7 {
    grid-column: span 1;
    grid-row: span 14;
}

#image8 {
    grid-column: span 1; 
    grid-row: span 10;
}

#image9 {
    grid-column: span 1;
    grid-row: span 6;
}

.images img:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    z-index: 10;
}



 