.sidebar-container {
  width: 80px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  border-right: 1px solid rgba(11, 11, 19, .1);
  display: auto;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 80px;
  width: 80px;
  line-height: 80px;
  background: #ff9301;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.nav-ul {
  padding: 45px 0;
  list-style: none;
}

.list {
  padding: 15px 0;
  font-size: 27px;
}

.list a {
  color: #555;
}

.list a:hover {
  color: #ff9301;
}
