.sidebar-container {
  width: 230px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  
}


.logo {
  height: 230px;
  width: 230px;
  background-color: #ff9301;
  color: #fff;
  font-size: 120px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; 
}

.list {
  
  width: 300%;
  display: flex;
  justify-content: center;
}


.list a{
  color: rgb(51,51,51);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.3s ease;
  font-size: 50px;
  text-decoration: none;
}


.list  a{
  font-size: 50px; 
}

.list a:active {
  background-color: #fff0d9; 
  color: #ff9301;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    height: 60px;
    bottom: 0;
    top: auto;
    flex-direction: row;
    border-right: none;
    border-top: 1px solid #ddd;
  }
  .logo { display: none; }
  .nav-ul {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    height: 100%;
  }
}