* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.contact-container {
  margin-left: 240px;
  width: 100%;
  min-height: 100vh; 
  background-color: #f7f7ff; 
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  }


.leftsidboxe {
  margin-top: 8%;
  margin-left: 10%;
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
}

.box {
  width: 80%;
  height: 100vh;
  text-align: left;
}

.main-heading {
  font-size: 100px; 
  font-weight: 700;
  color: #0b0b13;
  line-height: 1.1;
  margin-bottom: 30px;
}

.dot {
  color: #0b0b13; 
}

.contact-para {
  font-size: 50px; 
  font-weight: 400;
  color: rgb(85, 85, 85);
  line-height: 1.6; 
  margin-bottom: 50px;
  text-wrap: balance; 
}


.info-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 10px;
}

.info-item {
  display: flex;
  align-items: center; 
  gap: 50px;
  font-size: 45px;
  font-weight: 600;
  
  color: #0b0b13;
}

.icon {
  font-size: 80px; 
  color: #ff9301; 
  min-width: 80px;
}


.contact-right {
   align-items: flex-start; 
   margin-top: 8%;
   margin-right: 20%;
  flex: 1; 
  display: flex;
  justify-content: flex-start; 
  padding-top: 10px; 
}



