* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container {
  width: 100%;
  min-height: 100vh; 
  background-color: #f7f7ff; 
  padding-top: 100px;
  padding-left: 300px; 
  padding-right: 50px; 
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  gap: 2px; 
  font-family: 'Poppins', sans-serif;
}


.leftsidboxe {
  margin-top: 8%;
  margin-left: 10%;
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
}

.box {
  width: 100%;
  text-align: left;
}

.main-heading {
  font-size: 100px; 
  font-weight: 700;
  color: #0b0b13;
  line-height: 1.1;
  margin-bottom: 30px;
}

.dot {
  color: #0b0b13; 
}

.contact-para {
  font-size: 60px; 
  font-weight: 400;
  color: rgb(85, 85, 85);
  line-height: 1.6; 
  margin-bottom: 50px;
  max-width: 10000px; 
  text-wrap: balance; 
}


.info-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-item {
  display: flex;
  align-items: center; 
  gap: 20px;
  font-size: 60px;
  font-weight: 600;
  color: #0b0b13;
}

.icon {
  font-size: 80px; 
  color: #ff9301; 
  min-width: 80px;
}


.contact-right {
   align-items: flex-start; 
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  flex: 1; 
  display: flex;
  justify-content: flex-start; 
  padding-top: 10px; 
}





/* --- MOBILE RESPONSIVE --- */
@media screen and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    gap: 60px;
  }

  .main-heading {
    font-size: 45px;
    text-align: center;
  }
  
  .contact-para {
    text-align: center;
    font-size: 16px;
    margin: 0 auto 40px auto;
  }

  .leftsidboxe, .contact-right {
    width: 100%;
    align-items: center;
  }
  
  .box {
    text-align: center;
  }
  
  .info-item {
     justify-content: center;
  }
}