.form-wrapper {
  width: 100%;
  
}

.form-heading { 
  font-size: 60px; 
  font-weight: 700;
  margin-bottom: 40px;
  color: #000;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input-row {
  display: flex;
  gap: 30px;
  width: 120%;
}

.input-field {
  width: 120%;
  padding: 20px 25px;
  border: 1px solid rgba(11, 11, 19, 0.3);
  border-radius: 8px; 
  background-color: #fff;
  font-size: 50px;
  color: #0b0b13;
  outline: none;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.input-field::placeholder {
  color: #666;
}

.input-field:focus {
  border-color: #ff9301;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


.textarea-field {
  height: 300px;
  width:  120%;
  resize: none;
}

/* Button */
.send-btn {
  background-color: #0b0b13; 
  color: #fff;
  border: none;
  padding: 18px 50px;
  font-size: 30px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.send-btn:hover {
  background-color: #ff9301; 
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(255, 147, 1, 0.3);
}

/* Mobile adjustments */
@media screen and (max-width: 600px) {
  .input-row {
    flex-direction: column;
    gap: 20px;
  }
  
  .send-btn {
    width: 100%;
  }
}