 *{
  font-family: inherit;
 }

.form-wrapper {
width: 100%;
  
}

.form-heading { 
  font-size: 70px; 
  font-weight: 700;
  height: 100px;
  margin-bottom: 40px;
  color: #0b0b13;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input-row {
  display: flex;
  gap: 80px;
  width: 120%;
}

.input-field {
  width: 120%;
  height: 120px;
  padding: 20px 25px;
  border: 1px solid rgba(11, 11, 19, 0.3);
  border-radius: 8px; 
  background-color: #fff;
  font-size: 50px;
  color: #0b0b13;
  outline: none;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.input-field::placeholder {
  color: #666;
}

.input-field:focus {
  border-color: #ff9301;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


.textarea-field {
  height: 300px;
  width:  120%;
  resize: none;
}


.send-btn {
  position: relative;
  background-color:rgb(5,5,5);
  outline-color: #0b0b13;
  color: #fff;
  padding: 20px ;
  font-size: 50px;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
  width: 500px;
  height: 130px;
  transition: all 0.3s ease;




 
}

.send-btn:hover {
  background-color: #fff;
  color: rgb(5,5,5);
  transform: translateY(-5px);
}

